.module {
    background-color: #E7E0EC;
    /* color: white; */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }

body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
    align-content: center;
    background-color: #FFFBFE;
}
#timer {
    font-size: 24px;
    margin: 10px 0;
    color: #333333;
}
#quote, #soundSelector, #muteButton {
    font-size: 18px;
}

button, select {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px; /* Add some space between the buttons */
    background-color: #6750A4;
    color: white;
    border-radius: 15px;
    box-shadow: none;
    outline: none;
}

select {
    margin-bottom: 10px; /* Extra space below the dropdown */
}

#soundSelector, #muteButton {
    
    display: inline-block;
    vertical-align: middle; /* Aligns elements vertically */
}

#muteButton {
    margin-left: 2%; /* Space between the dropdown and the mute button */
}

#quote {
    color: #555;
    padding: 10px;
}